.navigation-anchor{
    display: inline-flex;
    align-items: center;
    text-decoration: none;   
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    margin-right: 30px;
}

.navigation-anchor::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color:#F25A70;
    margin-right: 10px; 
 
}